/* Declare variable values */
:root {
    --app-font-family: 'Poppins';
    --accent-color-rgb-string: 245, 137, 178;
    --accent-color-hex: #f589b2;
    --scrollbar-color-thumb: #8d8d8d;
    --scrollbar-color-track: #dadada;
    --scrollbar-border-radius: 5px;
    --scrollbar-background-track: none;
    --scrollbar-width-legacy: 5px;
    --form-field-error: #ac0002;
}

/* Add the font with font-display: swap */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,100;1,200;1,400;1,700&display=swap');
    font-display: swap;
}

* {
    box-sizing: border-box;
}

/* Apply Font style */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: var(--app-font-family), sans-serif;
}

/* Apply flexbox to the body to center its children */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* Set minimum height to fill the viewport */
    margin: 0;
    position: relative;
    /* Set the body as the positioning context */
    background-color: var(--accent-color-hex);
}

/* Create a wrapper for the background */
.background-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Set the background image with the blur effect */
    background-image: url('_eaefda17-e770-4fdd-9e81-78fe64f78502.jpeg');
    /* Replace with your image URL */
    background-size: cover;
    filter: blur(5px);
    /* z-index: -1; */
    /* Set a negative z-index to place it behind the .container */
}

/* Style the container for the content */
.container {
    text-align: center;
    position: relative;
    /* Add the background overlay */
    background-color: rgba(255, 255, 255, 0.8);
    /* Adjust the alpha value to control the transparency */
    padding: 20px;
    /* Add padding to create space between the text and the overlay */
    /* Set the .container as the positioning context for its children */
    z-index: 1;
    /* Ensure it appears above the background */
    max-width: 100%;
}

/* Add styles for the text content */
/* Add styles for the text content */
h1,
h2 {
    color: black;
    font-weight: 100;
}

p {
    color: black;
    font-weight: 200;
}

/* Add styles for the button */
.cta-button {
    background-color: hsl(337, 84%, 75%);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out,
        filter 0.3s ease-in-out, transform 0.3s ease-in-out;
    /* Apply a smooth background color transition */
}

/* Add hover effect for the button */
.cta-button:hover {
    background-color: hsl(337, 84%, 35%);
}

/* Add a greyscale effect when the button is disabled */
.cta-button[disabled] {
    filter: grayscale(100%);
    cursor: not-allowed;
}

.cta-button:active {
    transform: scale(0.95);
    /* Slight scale down when the button is pressed */
}

/* Add transitions */
.container,
.background-wrapper {
    opacity: 0;
    /* Set initial opacity to 0 */
    transition: opacity 0.5s cubic-bezier(0.4, 0, 1, 1),
        width 0.3s ease-in-out, height 0.3s ease-in-out;
    /* Apply a smooth opacity transition,
               Add transition properties for size change */
}

a,
small a {
    transition: transform 0.3s ease-in-out;
}

/* Add hover effect for buttons and links */
button:hover,
a:hover,
small a:hover {
    transform: translateY(-2px);
    /* Move element up slightly on hover */
}

#countdownTimer {
    animation: pulse 2s ease-in-out infinite;
    /* Apply the animation */
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
        /* Slightly scale up during the animation */
    }
}

/* Add styles for the toast notification */
.toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    /* Prevent clicks on the toast */
    transition: opacity 0.3s, transform 0.3s;
}

/* Show the toast notification */
.toast.show {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

/* Style for the tabs */
.tab {
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: space-around;
}

/* Style for the tab buttons */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: border-bottom 0.3s ease-in-out, 0.3s ease-in-out;
}

/* Change color on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Style for the tab content */
.tabcontent {
    display: none;
}

/* Style for the active tab content */
.tabcontent-active {
    display: block;
}

/* Add a bottom border to the active tab */
.tab button.active {
    border-bottom: 2px solid var(--accent-color-hex);
}

.custom-select {
    position: relative;
    display: inline-block;
}

.custom-select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
}

.custom-select button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    padding: 5px 10px;
}

.custom-select button:hover {
    background-color: #0056b3;
}

/* Style for the app drawer container */
.drawer {
    width: 250px;
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    top: 0;
    left: -250px;
    /* Initially hidden off-screen */
    height: 100%;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    transition: left 0.3s ease-in-out;
    z-index: 2;
}

/* Style for the drawer header */
.drawer-header {
    background-color: var(--accent-color-hex);
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
}

.drawer-header a {
    color: white;
    text-decoration: none;
}

.drawer-header a:hover {
    color: white;
}

/* Style for the app logo */
.app-logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

/* Style for the drawer menu (list of links) */
.drawer-menu {
    list-style: none;
    padding: 0;
}

.drawer-menu li {
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

/* Style for links in the drawer menu */
.drawer-menu a {
    text-decoration: none;
    color: #333;
    font-weight: 100;
    display: block;
}

/* Hover effect for links */
.drawer-menu a:hover {
    color: var(--accent-color-hex);
}

/* Style for open drawer */
.drawer-open {
    left: 0;
}

/* Style for the button that toggles the app drawer */
.toggle-button {
    position: fixed;
    top: 20px;
    /* Adjust the top position as needed */
    left: 20px;
    /* Adjust the left position as needed */
    width: 40px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    z-index: 2;
    /* Ensure it's above other content */
    transition: left 0.3s ease-in-out;
}

/* Style for the button icon (you can use an icon font or an image) */
.toggle-button::before {
    content: '☰';
    /* Unicode hamburger icon (you can change this) */
    font-size: 24px;
    color: #fff;
    /* Adjust the color as needed */
    line-height: 40px;
    text-align: center;
}

/* Show a shadow on hover to indicate interactivity */
.toggle-button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#askPermissionButton {
    transition: opacity 0.2s ease-in-out;
}

.social-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social-icons a {
    text-decoration: none;
    color: #fff;
}

.social-icons a:visited {
    text-decoration: none;
    color: #fff;
}

.toggle-switch {
    z-index: 0;
    position: relative;
    display: inline-block;
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    line-height: 1.5;
}

.toggle-switch>input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    right: 6px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.38);
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s 0.1s, transform 0.2s 0.1s;
}

.toggle-switch>span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

.toggle-switch>span::before {
    content: "";
    float: right;
    display: inline-block;
    margin: 5px 0 5px 10px;
    border-radius: 7px;
    width: 36px;
    height: 14px;
    background-color: rgba(0, 0, 0, 0.38);
    vertical-align: top;
    transition: background-color 0.2s, opacity 0.2s;
}

.toggle-switch>span::after {
    content: "";
    position: absolute;
    top: 2px;
    right: 16px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transition: background-color 0.2s, transform 0.2s;
}

.toggle-switch>input:checked {
    right: -10px;
    background-color: rgb(var(--accent-color-rgb-string, 33, 150, 243));
}

.toggle-switch>input:checked+span::before {
    background-color: rgba(var(--accent-color-rgb-string, 33, 150, 243), 0.6);
}

.toggle-switch>input:checked+span::after {
    background-color: rgb(var(--accent-color-rgb-string, 33, 150, 243));
    transform: translateX(16px);
}

/* Hover, Focus */
.toggle-switch:hover>input {
    opacity: 0.04;
}

.toggle-switch>input:focus {
    opacity: 0.12;
}

.toggle-switch:hover>input:focus {
    opacity: 0.16;
}

/* Active */
.toggle-switch>input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}

.toggle-switch>input:active+span::before {
    background-color: rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.6);
}

.toggle-switch>input:checked:active+span::before {
    background-color: rgba(0, 0, 0, 0.38);
}

/* Disabled */
.toggle-switch>input:disabled {
    opacity: 0;
}

.toggle-switch>input:disabled+span {
    color: rgb(0, 0, 0);
    opacity: 0.38;
    cursor: default;
}

.toggle-switch>input:disabled+span::before {
    background-color: rgba(0, 0, 0, 0.38);
}

.toggle-switch>input:checked:disabled+span::before {
    background-color: rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.6);
}

div.about-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

dialog.basic-dialog * {
    margin: 0;
    padding: 0;
}

dialog.basic-dialog {
    min-width: 280px;
    max-width: 560px;
    text-align: center;
    box-shadow: 24px 12px 6px rgba(0, 0, 0, 0.14);
    background: #fff;
    border: none;
    border-radius: 8px;
    padding: 0;
}

dialog.basic-dialog .dialog-content {
    padding: 0 24px;
    font-size: 16px;
}

dialog.basic-dialog .dialog-content>* {
    margin-bottom: 16px;
}

dialog.basic-dialog .dialog-header {
    height: 64px;
    padding: 0 24px;
}

dialog.basic-dialog h6 {
    font-weight: bolder;
    font-size: 21px;
    line-height: 48px;
}

dialog.basic-dialog input {
    width: 100%;
}

dialog.basic-dialog .action-container {
    height: 52px;
    padding: 8px;
    text-align: right;
}

dialog.basic-dialog .action-container>*:not(:last-child) {
    margin-right: 8px;
}

dialog.basic-dialog button.dialog-action {
    background: none;
    border: none;
    font-weight: bold;
    font-size: 15px;
    color: var(--accent-color-hex);
    height: 100%;
    padding: 8px;
}

dialog.basic-dialog::backdrop {
    background: rgb(0 0 0 / 20%);
}

#reminderListContainer {
    position: relative;
    position: relative;
    min-height: 50px;
    max-height: 500px;
    overflow-y: overlay;

}

ul.list {
    max-width: 550px;
    list-style-type: none;
    text-align: start;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0 auto;
    max-height: 100%;
}

ul.list li {
    height: 72px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

ul.list li span.heading {
    height: 28px;
    display: block;
    font-size: 16px;
}

ul.list li span.caption {
    height: 20px;
    display: block;
    font-size: 12px;
}

form .field {
    position: relative;
    position: relative;
    margin-top: 24px;
}

form .field label {
    font-size: 14px;
    font-weight: lighter;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    transform-origin: 0 0;
    transform: translate3d(12px, 12px, 0);
    line-height: 20px;
    transition: transform 0.2s;
    background: #fff;
}

form .field input {
    font-size: 16px;
    border-radius: 4px;
    width: 280px;
    height: 48px;
    padding-left: 16px !important;
    padding-right: 12px !important;
    border: 1px solid #000;
    outline: none;
    appearance: none;
    line-height: 20px;
}

form .field input:focus {
    border-color: var(--accent-color-hex);
}

form .field input:focus + label {
    color: var(--accent-color-hex);
}

form .field input[type="text"]:focus + label {
    transform: translate3d(12px, -9px, 0);
    font-size: 12px;
}

form .field input[type="time"] + label {
    transform: translate3d(12px, -9px, 0) !important;
    font-size: 12px !important;
}

form .field span.validation-error{
    font-size: 12px;
    color: var(--form-field-error);
    transition: display 0.2s;
    display: none;
    width: 280px;
    margin-top: 10px;
    text-align: left;
    padding-left: 12px;
}

form .field input.validation-error{
    border-color: var(--form-field-error) !important;
}

form .field input.validation-error:focus + label {
    color: var(--form-field-error);
}

form .field input[type="time"].validation-error + label {
    color: var(--form-field-error);
}

.field input[type="text"]:not(:placeholder-shown) + label {
    transform: translate3d(12px, -9px, 0) !important;
}

form .field input::placeholder {
    color: transparent !important;
    user-select: none !important;
}

.d-block{
    display: block !important;
}

.d-none{
    display: none !important;
}

@supports selector(::-webkit-scrollbar) {
    ::-webkit-scrollbar-thumb {
        background: var(--scrollbar-color-thumb);
        border-radius: var(--scrollbar-border-radius);
    }

    ::-webkit-scrollbar-track {
        background: var(--scrollbar-background-track);
    }

    ::-webkit-scrollbar {
        max-width: var(--scrollbar-width-legacy);
        max-height: var(--scrollbar-width-legacy);
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px
    }

    #reminderListContainer {
        max-height: 500px;
    }
}